{% extends 'partials/dashboard-base.html' %}
{% load static %}

{% block content %}
    

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Paylio Dashboard"/>
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/plugin/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/plugin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/arafat-font.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/plugin/animate.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <script src="//code.tidio.co/fcgainvkiplfyul7rt8cl5cip4qb2wnr.js" async></script>
    <title>Paylio Finance | Dashboard</title>
    <script defer="defer" src="{% static '/static/js/main.543ff77f.js' %}"></script>
    <link href="{% static '/static/css/main.4c7f10f4.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery-ui.js' %}"></script>
    <script src="{% static '/assets/js/plugin/apexcharts.js' %}"></script>
    <script src="{% static '/assets/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/waypoint.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/wow.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/plugin.js' %}"></script>
    <script src="{% static '/assets/js/main.js' %}"></script>
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{},Tawk_LoadStart=new Date;!function(){var t=document.createElement("script"),e=document.getElementsByTagName("script")[0];t.async=!0,t.src="https://embed.tawk.to/6636691407f59932ab3c0bd1/1ht28kv01",t.charset="UTF-8",t.setAttribute("crossorigin","*"),e.parentNode.insertBefore(t,e)}()
    </script>
</body>
</html>

{% endblock content %}