
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="/favicon.ico"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="Paylio finance"/>
        <link rel="apple-touch-icon" href="/logo192.png"/>
        <link rel="manifest" href="/manifest.json"/>
        <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/plugin/nice-select.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/plugin/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/plugin/slick.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/arafat-font.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/plugin/animate.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
        <title>Paylio Finance</title>
        <script defer="defer" src="/static/js/main.cac65455.js"></script>
        <link href="/static/css/main.31d6cfe0.css" rel="stylesheet">
        </head>
        <body>
            <noscript>You need to enable JavaScript to run this app.</noscript>
            <div id="root">

            </div>
            <script src="{% static '/assets/js/jquery.min.js' %}"></script>
            <script src="{% static '/assets/js/jquery-ui.js' %}"></script>
            <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
            <script src="{% static '/assets/js/fontawesome.js' %}"></script>
            <script src="{% static '/assets/js/plugin/slick.js' %}"></script>
            <script src="{% static '/assets/js/plugin/jquery.nice-select.min.js' %}"></script>
            <script src="{% static '/assets/js/plugin/waypoint.min.js' %}"></script>
            <script src="{% static '/assets/js/plugin/jquery.magnific-popup.min.js' %}"></script>
            <script src="{% static '/assets/js/plugin/wow.min.js' %}"></script>
            <script src="{% static '/assets/js/plugin/plugin.js' %}"></script>
            <script src="{% static '/assets/js/main.js' %}"></script>
        </body>
        </html>